@model IEnumerable<Sistema_gestao.Models.Produtos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayName("Ultima Compra")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estoque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ultimacompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estoque)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id_uni}) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id_uni}) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id_uni})
        </td>
    </tr>
}

</table>
